*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
}

.conteiner{
	background-color:#CBD99B ;
	display: flex;
	margin: 30px;
	padding: 30px;
	width: 50%;
	border-radius: 20px;
	margin-top: 200px;	
	justify-items: center;

}